{
    "repositoryUrl": "https://github.com/shenky1/Semantic-Release-Angular",
    "branches": ["main"],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog"
    ]
}